.slider{
  position:relative;
  width:900px;
  max-width:100%;
  height:600px;
  margin:auto;
  overflow:hidden;
  border-radius:12px;
  background:#000;
}
.comparisonslider{
  position:relative;
  width:900px;
  max-width:100%;
  height:fit-content;
  margin:auto;
  overflow:hidden;
  border-radius:12px;
  background:#000;
}
/* Both images identical positioning */
.slider img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  user-select:none;
  pointer-events:none;
}

/* Wrapper ONLY clips */
.before-wrap{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:50%;
  overflow:hidden;
  z-index:2;
  background-repeat: no-repeat;
  /* background-position: center; */
    background-size: cover;
}

.before1{
background-image: url(/assets/img/ba/before1.jpg);
}
.before2{
background-image: url("https://picsum.photos/id/1016/1200/800");
}
.before3{
background-image: url("https://picsum.photos/id/1016/1200/800");
}
.before4{
background-image: url("https://picsum.photos/id/1016/1200/800");
}
.before5{
background-image: url("https://picsum.photos/id/1016/1200/800");
}
.before6{
background-image: url("https://picsum.photos/id/1016/1200/800");
}
.before7{
background-image: url("https://picsum.photos/id/1016/1200/800");
}


/* Handle */
.handle{
  position:absolute;
  top:0;
  left:50%;
  width:4px;
  height:100%;
  background:rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index:3;
  cursor:ew-resize;
  box-shadow: 0 0 12px rgb(255, 255, 255);
}

/* Glass circle */
.handle::before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:50px;
  height:50px;
  transform:translate(-50%,-50%);

  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius:50%;
  /* border:1px solid rgb(255, 255, 255); */

  /* box-shadow:
    0 8px 20px rgba(255, 255, 255, 0.25),
    inset 0 0 8px rgb(255, 255, 255); */

  background-image: url(/assets/img/home-01/hero/arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.label{
  position:absolute;
  top:10px;
  padding:6px 12px;
  font-size:13px;
  background:rgba(0,0,0,0.6);
  color:#fff;
  border-radius:4px;
  z-index:4;
}

.label.before{left:10px;}
.label.after{right:10px;}

@media (max-width:600px){

   .slider{
  position:relative;
  width:385px;
  max-width:100%;
  height:250px;
  margin:auto;
  overflow:hidden;
  border-radius:12px;
  background:#000;
}
   .comparisonslider{
  position:relative;
  width:387px;
  max-width:100%;
 
  margin:auto;
  overflow:hidden;
  border-radius:12px;
  background:#000;
}
  
}